
<div class="colors">
	<%= radio_button_tag("todolist[color]","yellow")%>
	<%= label_tag("todolist[color][yellow]", "", class: "yellow") %>
	<%= radio_button_tag("todolist[color]","red")%>
	<%= label_tag("todolist[color][red]", "", class: "red") %>
	<%= radio_button_tag("todolist[color]","green") %>
	<%= label_tag("todolist[color][green]", "", class: "green") %>
	<%= radio_button_tag("todolist[color]","purple") %>
	<%= label_tag("todolist[color][purple]", "", class: "purple") %>
	<%= radio_button_tag("todolist[color]","blue") %>
	<%= label_tag("todolist[color][blue]", "", class: "blue") %>
	
	</div>